.fruitables-header * {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.fruitables-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

i:hover {
    cursor: pointer;
}

/* Scroll hide effect */
.header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.5s ease-in-out;
    z-index: 10001;
}

.scrolled {
    top: -55px;
}