.fruitables-header * {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.fruitables-header {
    position: sticky;
}
.fruitables-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}
.topbar-left a {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.8px;
    font-size: 13px;
}

.topbar-left a svg {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    color:#ffb524 !important;
}
.topbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.topbar-left a {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.8px;
    font-size: 13px;
}

.topbar-left a svg {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    position: relative;
    top: 1px;
}

.topbar-left a:hover {
    color: red;
}

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
.topbar-left a svg {
    position: relative;
    top: 1px;    
}

.fruitables-topbar-parent {
    background-color: white;
    padding: 0 100px;
}

.fruitables-topbar {
    background: #81c408;
    color: #fff;
    font-size: 0.875em;
    border-radius: 230px 100px;
    height: 55px;
    margin: 0;
    padding: 0 20px;
    font-family: "Open Sans", sans-serif;
}

.fruitables-topbar .fruitables-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 15px;
}

.policy-link::after {
    content: " / ";
    font-size: 16px;
    font-weight: bold;
}

.policy-link:last-child::after {
    content: "";
}

.map-icon,
.email-icon {
    color: orange;
    margin-right: 5px;
    font-size: 16px;
}

i:hover {
    cursor: pointer;
}

.topbar-left a {
  color: #fff;
    margin-left: 2px;
    text-decoration: none;
    letter-spacing: 0.8px;
    font-size: 13px;
}

.topbar-left a:hover {
    color: red;
}

.topbar-right a {
       color: #fff;
    margin-left: 0px;
    text-decoration: none;
    letter-spacing: 1.3px;
    font-size: 13px;
}

.topbar-right a:hover {
    color: red;
}


@media (max-width: 960px) {
    .fruitables-topbar {
        display: none;
    }
    
    .fruitables-topbar-parent {
        padding: 0 20px;
    }
}

@media (max-width: 430px) {
    .fruitables-topbar-parent {
        padding: 0 15px;
    }
    
    .fruitables-topbar {
        font-size: 0.775em;
    }
    
    .fruitables-container {
        padding: 0 13px;
    }
    
    .topbar-left a,
    .topbar-right a {
        font-size: 0.85em;
    }
}


@media (max-width: 1200px) {
    .fruitables-topbar {
        font-size: 0.775em;
  
    }
    
    .fruitables-topbar-parent {
        padding: 0 40px;
    }
}